/*fonts*/

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap");

/*tailwind*/

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-family: "Manrope";
}
.cover-image {
  background-image: url("src/assets/images/persons/testimonials-bg.png");
  height: 35rem;
}

@media screen and (max-width: 768px) {
  .cover-image {
    height: 20rem; /* Adjust the height value as per your requirement */
  }
}

.validate{
  @apply self-start text-[#f00] text-[10px] font-semibold absolute   left-0 lg:bottom-12  max-lg:bottom-10;

}
.cover-image{
    background-image: url('src/assets/images/persons/testimonials-bg.png');
    height: 35rem;
}
.toggle-button {
    -webkit-appearance: none;
    position: relative;
    width: 4rem;
    height: 2rem;
    border-radius: 25px;
    @apply bg-hint;
    /* transitionbackground: .3s;    */
    outline: none;
    cursor: pointer;
}

.toggle-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.45rem;
    width: 1.45rem;
    background-color: white;
    transition: left .3s;
}

.toggle-button:checked {
    @apply bg-primary;
}

.toggle-button:checked::after {
left: 70%;
}

.movetoggle {
   float: right;
}